html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding-top: 60px;
    padding-bottom: 75px;
    font-family: 'Gudea', sans-serif;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}


/* validation style*/
.input-validation-error {
    border: 1px solid rgba(200,0,0,0.5);
    box-shadow: 0 2px 6px rgba(255,0,0,0.3) inset;
}

.card {
    border-radius: 2px;
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
}

.display-block {
    display: block;
}

.nice-col-padding .col-md-4, .nice-col-padding .col-sm-6 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.dropdown-arrow {
    color: #999 !important;
    cursor: pointer;
    font-size: 9pt !important;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.font-size-8 {
    font-size: 8pt !important;
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.full-width {
    width: 100% !important;
}

.no-margin {
    margin: 0;
}

.opacity-5{
    opacity:0.5;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
}

footer p {
    padding-left: 10px;
}