@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="alert alert-danger text-center border-radius-2" role="alert">
            <h3 class="no-margin"><b>Access <u>Denied</u>.</b></h3>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>